#container1
{
    width:800px;
    height:auto;
    position: relative;
    left:30%;
    padding-top:10px;
}
.search-bar-style{
    border-radius: 40px;
    padding-left:10px ;
    box-shadow: none;

}
button{
    border-style: none;
    cursor: pointer;
}
#img{
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    /*z-index: -1;*/

}  
h1 a{
    color: blanchedalmond;
    text-align: center;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 550px;
    border-color: blanchedalmond;
    text-decoration: underline;
    cursor: pointer;
}
#container1 input{
    width:500px;
    height:40px;
}
#container1 button{
    color: darkgray;
    cursor: pointer;
    
    height:40px;
}
body{
    background-image: url('../images/Avengers2.jpg');
    background-color: #152238;
    color: white;
    background-size: cover;
    border-style: none;
    margin: 0;
}
li{
    background-color: white;
    list-style: none;
    width:500px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-color:white;

}
#container
{
    position: relative;
    margin-left: 550px;
}
#search-results
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    

}
 img{
    width:100px;
    height:100px;
}
#add-to-fav
{
    width:60px;
    height:50px;
    border-radius: 15px;
    background-color: #ff5858;
    text-align: center;
    color: white;
    font-weight: 500;
    opacity: 0.6;
    transition: 0.3s;

}

#add-to-fav:hover{
    opacity: 1;
}
#add-to-fav a
{
text-decoration: none;
}
#name
{
    color:skyblue;
    font-size: 15px;
}

#name a{
    color: #f6f6f6;
}

span{
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#favourites
{
    cursor: pointer;
    float: right;
    font-size: 20px;
    width:100px;
    height:30px;
    background-color: darkkhaki;
    border:2px solid grey;
    text-align: center;
    color: lightyellow;

}
#favourites a
{
text-decoration: none;
}

.nav-bar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.title{
    align-items: center;
}

.btn{
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding: 0.7em 1.7em;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    opacity: 1;
  }

.search-bar{
    margin-top: 25px;
    margin-bottom: 25px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    margin-left: 500px;
  }
.search-icon{
    color: black;
}

.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
}

.search-input::placeholder{
    color: rgba(0, 0, 0, 0.25s);
}